<ion-view title="CoFA" id="page2">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.setNewGoal" id="coFA-button1" class="button button-positive  button-block">Set New Goal</a>
    <a ui-sref="tabsController.getDummyGoal" id="coFA-button2" class="button button-positive  button-block">Get Dummy Goal</a>
    <a href="#" onclick="window.open('page8', '_system', 'location=yes'); return false;" id="coFA-button3" class="button button-positive  button-block">Cash at Hand</a>
  </ion-content>
</ion-view>