<ion-view title="Get Dummy Goal" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="getDummyGoal-form4" class="list">
      <label class="item item-input item-stacked-label" id="getDummyGoal-input6">
        <span class="input-label">Purpose</span>
        <input type="text" placeholder="" ng-model="purpose">
      </label>
      <label class="item item-input item-stacked-label" id="getDummyGoal-input7">
        <span class="input-label">Amount</span>
        <input type="number" placeholder="" ng-model="amount">
      </label>
      <button ng-click="getGoal()" class="button button-positive  button-block">Get</button>
    </form>
  </ion-content>
</ion-view>