<ion-view title="Login" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="login-form5" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input8" name="email">
          <span class="input-label">Email</span>
          <input type="text" placeholder="" ng-model="email">
        </label>
        <label class="item item-input" id="login-input9" name="password">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.coFA" id="login-button10" ng-click="login" class="button button-stable  button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>