<ion-view title="Set New Goal" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="setNewGoal-form2" class="list">
      <label class="item item-input item-stacked-label" id="setNewGoal-input2">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="setNewGoal-input3">
        <span class="input-label">Value</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="setNewGoal-select1">
        <span class="input-label">Type</span>
        <select>
          <option></option>
        </select>
      </label>
      <button id="setNewGoal-button8" class="button button-positive  button-block">Add</button>
    </form>
  </ion-content>
</ion-view>